.flex-row-container {
    display: flex;
    flex-direction: column;  /* Stacks the children vertically */
    width: 100%;  /* You can set a maximum width if you don't want it to stretch full page width */
}

.flex-column-container {
    display: flex;
    justify-content: flex-start; /* Align columns to the start of the container */
    gap: 10px;  /* Space between columns */
    margin-bottom: 15px;  /* Space between rows */
}

.column-fixed {
    padding: 10px;
    border: 1px solid black;  /* Just for visualization */
}

.column-flexible {
    flex: 1;
    border: 1px solid black;
}

/* Apply Sans-Serif font to all text */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    /* Add any other styles you want for headings */
  }
  
  /* Titles */
  .title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    /* Add any other styles you want for titles */
  }
  
  /* Paragraphs */
  p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* Add any other styles you want for paragraphs */
  }

  .side-bar-colour {
    background-color: #808080; /* Replace with your desired hex color */
  }